<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travel Advice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").click(function(){
        $(this).method();
    });
});
</script>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="w3-container">
    <div class="w3-dropdown-hover">
      <button class="w3-button">All Locations</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
          {% for location in locations %}
                  <a href="/details?location={{location}}" class="w3-bar-item w3-button">{{location}}</a>
          {% endfor %}

      </div>
    </div>
</div>

</body>
</html>